<!--* common layout -->
<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campgrounds</a>
    </div>
    <ul>
        <% for( let campground of campgrounds ) { %>
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="<%= campground.image %> " alt="">
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="class-text">
                            <%= campground.description %>
                        </p>
                        <p class="class-text">
                            <small>
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">View Campground</a>
                    </div>
                </div>
            </div>
            <% } %>
    </ul>